html {
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 95px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-color: #aad4cf;
}



header h1{
    color: #fff;
    margin: 0;
}

h1{
    
    margin-left: 10px;
    color: black;
    text-shadow:
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px 1px 0 green,
    1px 1px 0 green;  
}

h2{
    margin-left:10px;
    color: black;
    text-shadow:
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px 1px 0 green,
    1px 1px 0 green; 
}

.heading-two{
  margin-left:10px;
    color: black;
    text-shadow:
    -1px -1px 0 rgb(225, 0, 255),
    1px -1px 0 rgb(225, 0, 255),
    -1px 1px 0 rgb(225, 0, 255),
    1px 1px 0 rgb(225, 0, 255); 
}

.heading-three{
  margin-left:10px;
    color: black;
    text-shadow:
    -1px -1px 0 rgb(10, 225, 233),
    1px -1px 0 rgb(10, 225, 233),
    -1px 1px 0 rgb(10, 225, 233),
    1px 1px 0 rgb(10, 225, 233); 
}

.heading-four{
  margin-left:10px;
    color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; 
}

.heading-five{
  margin-left:10px;
    color: black;
    text-shadow:
    -1px -1px 0 orange,
    1px -1px 0 orange,
    -1px 1px 0 orange,
    1px 1px 0  orange; 
}

header{
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
  font-size:50px;
  color:white;
}

.container2{
    position: relative;
    width:900px;
    margin: 0 auto;
  }

img{
    width:100%;
}

.wrapper{
    width: 900px;
    margin: 50px auto 0 auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
  
.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .row-icons{
    display: flex;
  }
  
  .column-icons{
    height: 100px;
    width: 100px;
    padding: 5px;
  }

.grid-container {
  display: grid;
  background-color: black;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
    position:relative;
}

.item1 {
  grid-area: 1 / 1 / span 2 / span 3;
}

.post-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.post-container > div {
    position:relative;
}

.post1 {
  grid-area: 1 / 1 / span 3 / span 4;
}

.about-post{
  background-color: white;
  width: 95%;
  border: 10px solid orange;
  padding: 50px;
  margin: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 450px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.button {
  color: black;
  cursor: pointer;
}

.button1 {
  background-color: orange;
  padding-bottom: 70px;
  }
.button2 {
  background-color: white;
  padding-bottom: 70px;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-image: url(images/sunset-background.jpg);
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 1;
}

.item3 {
  grid-column: 2 / span 1;
}

.container-chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container-chat::after {
  content: "";
  clear: both;
  display: table;
}

.container-chat {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-chat.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: black;
}

.time-left {
  float: left;
  color: black;
}


/* Add styles to the form container */
.form-container {
  max-width: 900px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.social-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.social-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.social2 {
  margin-right: 100px;
}

.capture-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.capture-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.capture1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2
}