html {
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 95px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    background-color: #aad4cf;
}



header h1{
    color: #fff;
    margin: 0;
}

h1{
    
    margin-left: 10px;
    color: black;
    text-shadow:
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px 1px 0 green,
    1px 1px 0 green;  
}

h2{
    margin-left:10px;
    color: black;
    text-shadow:
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px 1px 0 green,
    1px 1px 0 green; 
}
header{
  position: absolute;
  top: 55%;
  width: 100%;
  text-align: center;
  font-size:50px;
  color:white;
}

.container2{
    position: relative;
    width:900px;
    margin: 0 auto;
  }

img{
    width:100%;
}

.wrapper{
    width: 900px;
    margin: 50px auto 0 auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
  
.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .row-icons{
    display: flex;
  }
  
  .column-icons{
    height: 100px;
    width: 100px;
    padding: 5px;
  }

.grid-container {
  display: grid;
  background-color: black;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
    position:relative;
}

.item1 {
  grid-area: 1 / 1 / span 2 / span 3;
}

.post-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.post-container > div {
    position:relative;
}

.post1 {
  grid-area: 1 / 1 / span 3 / span 4;
}

.about-post{
  background-color: white;
  width: 95%;
  border: 10px solid orange;
  padding: 50px;
  margin: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 450px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.button {
  color: black;
  cursor: pointer;
}

.button1 {
  background-color: orange;
  padding-bottom: 70px;
  }
.button2 {
  background-color: white;
  padding-bottom: 70px;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-image: url(images/sunset-background.jpg);
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 1;
}

.item3 {
  grid-column: 2 / span 1;
}